{% extends 'base.html.twig' %}

{% block title %}Mon compte
{% endblock %}

{% block body %}
	<div class="container mt-3">
		<h1>Chiens demandés</h1>

		<table class="table">
			<thead>
				<tr>
					<th scope="col">Chien</th>
					<th scope="col">Date</th>
				</tr>
			</thead>
			<tbody>
				{% for request in requests %}
					<tr>
						<td>{{ request.dog.name }}</td>
						<td>{{ request.message.first.creationDate|format_datetime('short', 'none') }}</td>
						<td>
							{% if request.unreadMessages(user) %}
								<svg class="me-2" style="color: red" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-exclamation" viewbox="0 0 16 16">
									<path d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2H2Zm3.708 6.208L1 11.105V5.383l4.708 2.825ZM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2-7-4.2Z"/>
									<path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1.5a.5.5 0 0 1-1 0V11a.5.5 0 0 1 1 0Zm0 3a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Z"/>
								</svg>
							{% endif %}
							<a href="{{ path('request_detail', {id: request.id}) }}">
								<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eye-fill" viewbox="0 0 16 16">
									<path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
									<path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
								</svg>
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<h1 class="mt-3">Annonces</h1>

		<table class="table">
			<thead>
				<tr>
					<th scope="col">Titre</th>
					<th scope="col">Chiens</th>
					<th scope="col">Date</th>
				</tr>
			</thead>
			<tbody>
				{% for advertisement in advertisements %}
					<tr>
						<td>{{ advertisement.title }}</td>
						<td>
							<ul>
								{% for dog in advertisement.getAdvertisementDogs() %}
									<li>
										{{ dog.name }}
									</li>
								{% endfor %}
							</ul>
						</td>
						<td>{{ advertisement.creationDate|format_datetime('short', 'none') }}</td>
						<td>
							<a href="{{ path('show_advertisement', {id: advertisement.id}) }}">
								<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eye-fill" viewbox="0 0 16 16">
									<path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
									<path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
								</svg>
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</tr>
	</tbody>
</tbody></table></div>{% endblock %}
